

body {
    font-size: 1.3em;
    
    }

p {
    font-size: 0.9em;
    color: #ba4;
    
    width: 500px;
}
a {
    text-decoration: none;
}

h1 {
    font-family: "Caesar Dressing", "arial", sans-serif;
    font-size: 1.25em;
}

a:link    { color: black; }
a:visited { color: yellow; }
a:focus   { color: green; }
a:hover   { color: orange; }
a:active  { color: silver; }
